name: weld_detection
channels:
  - pytorch
  - defaults
dependencies:
  - python=3.10
  - numpy
  - scipy
  - scikit-learn
  - matplotlib
  - pytorch
  - torchvision
  - torchaudio
  - cpuonly  # Remove this if you have a GPU and want CUDA support
  - pip
  - pip:
    - open3d
    - plotly
